* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    background-color: hsl(217, 54%, 11%);
    max-width: 144rem;
    margin: 0rem 20rem;
    height: 100vh;
    position: relative;
}

.card {
    width: 28rem;
    height: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    border-radius: 11px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.2);
}

.card__img-container {
    width: 25rem;
    height: 25rem;
    /* padding: 1rem;
    position: relative; */
}

.card__img {
    width: 100%;
    padding: 1.8rem;
}

.card__title {
    padding: 0.8rem 1.8rem;
    font-size: 1.6rem;
}

.card__description {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    color: hsl(215, 51%, 70%);
    line-height: 1.6;
    letter-spacing: 1px;
}